*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container{
    width:100%;
    min-height:100vh;
    padding:10px;
    background:maroon(135deg,lightblue,lightblue);
}
.todo{
    width: 100%;
    max-width:540px;
    background: #c0c0c0;
    margin: 100px auto 20px;
    padding:40px 30px 70px;
    border-radius:10px;
   
}
h2{
    color:chocolate;
    align-items:center;
    margin-bottom: 20px;
    display: flex;
}
img{
    width:50px;
    margin-bottom:10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:lightcyan;
    border-radius: 30px;
    padding-left:20px;
    margin-bottom: 25px;
}
input{
    flex:1;
    border:none;
    outline:none;
    background:rgb(154, 145, 146);
    padding:10px;
    font-weight: 24px;
}
button{
    border:none;
    font-weight: 24px;
    outline:none;
    padding:16px 50px;
    background:sienna;
    color:BLACK;
    cursor:pointer;
    font-size:20px;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding:12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content:'';
    position: absolute;
    height:28px;
    width:28px;
    border-radius:50%;
    top:12px;
    left:8px;
    background-size: cover;
    background-position: center;
}
ul li.checked{
    color:#aa916b;
    text-decoration: line-through;
}
ul li span{
    position:absolute;
    right:0;
    top:5px;
    width:40px;
    height:40px;
    font-size: 30px;
    color:khaki;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background:rgb(199, 53, 9);
    border-radius: 50px;
}